Source: ros-indigo-qt-gui-core
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin
Homepage: http://ros.org/wiki/qt_gui_core
Standards-Version: 3.9.2

Package: ros-indigo-qt-gui-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-qt-dotgraph, ros-indigo-qt-gui, ros-indigo-qt-gui-app, ros-indigo-qt-gui-cpp, ros-indigo-qt-gui-py-common
Description: Integration of the ROS package system and ROS-specific plugins for a Qt-based GUI.
