Source: ros-hydro-qt-dotgraph
Section: misc
Priority: extra
Maintainer: Thibault Kruse <tkruse@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/qt_dotgraph
Standards-Version: 3.9.2

Package: ros-hydro-qt-dotgraph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pydot, ros-hydro-python-qt-binding
Description: qt_dotgraph provides helpers to work with dot graphs.
